div#main {

  div#game-frame {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid white;
  }

  div#game-status {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    z-index: 2;
  }

  div#game-score {
    position: absolute;
    left: 280px;
    top: 20px;
    color: white;
    z-index: 2;
  }
}

