<div style="color:white;position:absolute;left:50px;top:50px;">
  <div style="position:absolute;left:0;top:0;background-color:white;"
       [style.width.px]="spaceW"
       [style.height.px]="spaceH">
  </div>
  <div *ngFor="let bubble of bubbles">
    <app-bubble
      [bubble]=bubble
      [isGameOver]="isGameOver()"
      (killed)="killed($event)">
    </app-bubble>
  </div>
  <div style="position: absolute;left:20px;top:20px;color:white;z-index:2;" *ngIf="isGameOver()">GAME OVER</div>
  <div style="position: absolute;left:280px;top:20px;color:white;z-index:2;">{{score}}</div>
  <ng-container *ngFor="let distRow of dists">
    <ng-container *ngFor="let dist of distRow">
      <div style="position:absolute;z-index:1;"
           [style.left.px]="dist.minX"
           [style.top.px]="dist.minY"
           [style.width.px]="dist.maxX-dist.minX"
           [style.height.px]="dist.maxY-dist.minY"
           [style.background-color]="dist === distFurthest ? 'cyan' : dist.getCol()">
      </div>
    </ng-container>
  </ng-container>
</div>
