<div style="color:white;">
  <div style="position:absolute;left:0;top:0;background-color:black;"
       [style.width.px]="_spaceW"
       [style.height.px]="_spaceH">
  </div>
  <div *ngFor="let bubble of bubbles">
    <app-bubble [bubble]=bubble [isGameOver]="isGameOver()" (died)="died($event)"
                (killed)="killed($event)"></app-bubble>
  </div>
  <div style="position: absolute;left:20px;top:20px;" *ngIf="isGameOver()">GAME OVER</div>
  <div style="position: absolute;left:280px;top:20px;">{{score}}</div>
  <div style="position: absolute;background-color:yellow;width:5px;height:5px;"
       [style.left.px]="rangeMinX"
       [style.top.px]="rangeMinY">
  </div>
</div>
