<div style="color:white;position:absolute;left:50px;top:50px;">
  <div style="position:absolute;left:0;top:0;border:1px solid white;"
       [style.width.px]="spaceW"
       [style.height.px]="spaceH">
  </div>
  <div *ngFor="let bubble of bubbles">
    <app-bubble
      [bubble]=bubble
      [isGameOver]="isGameOver()"
      (killed)="killed($event)">
    </app-bubble>
  </div>
  <div style="position: absolute;left:20px;top:20px;color:white;z-index:2;" *ngIf="isGameOver()">
    GAME OVER
  </div>
  <div style="position: absolute;left:280px;top:20px;color:white;z-index:2;">
    {{score}}
  </div>
  <ng-container *ngFor="let distRow of dists">
    <ng-container *ngFor="let dist of distRow">
      <div style="position:absolute;"
           [style.left.px]="dist === distFurthest ? dist.x - dist.dist + 1 : dist.minX + 1"
           [style.top.px]="dist === distFurthest ? dist.y - dist.dist + 1 : dist.minY + 1"
           [style.width.px]="dist === distFurthest ? dist.dist * 2 : dist.maxX-dist.minX"
           [style.height.px]="dist === distFurthest ? dist.dist * 2 : dist.maxY-dist.minY"
           [style.border]="dist === distFurthest ? '1px solid cyan' : 'none'"
           [style.background-color]="dist === distFurthest ? 'transparent' : dist.getCol()"
           [style.z-index]="dist === distFurthest ? 2 : 1"
           [style.border-radius.px]="dist === distFurthest ? dist.dist : 0">
      </div>
    </ng-container>
  </ng-container>
</div>
